
@font-face {
  font-family: 'Vidaloka-Regular';
  src: url('Vidaloka-Regular.eot?#iefix') format('embedded-opentype'),  url('Vidaloka-Regular.otf')  format('opentype'),
	     url('Vidaloka-Regular.woff') format('woff'), url('Vidaloka-Regular.ttf')  format('truetype'), url('Vidaloka-Regular.svg#Vidaloka-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
