
@font-face {
  font-family: 'Orienta-Regular';
  src: url('Orienta-Regular.eot?#iefix') format('embedded-opentype'),  url('Orienta-Regular.woff') format('woff'), url('Orienta-Regular.ttf')  format('truetype'), url('Orienta-Regular.svg#Orienta-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
